<template>
  <bottom-bar-activity :title="`${$tc('network', 1)} ${info.config.name}`" :loading="anyCommandRunning">

    <!-- -->
    <!-- Toolbar -->
    <!-- -->
    <v-menu slot="toolbarEnd">
      <my-icon-button slot="activator" icon="more_vert"/>

      <v-list>
        <!-- Start -->
        <my-list-item
          v-if="info.status != 'running'"
          :label="$t('actionStart')"
          :disabled="isCommandRunning('start_network')"
          @click="sendCommand('start_network', {uuid: network})"/>

        <!-- Stop -->
        <my-list-item
          v-if="info.status == 'running'"
          :label="$t('actionStop')"
          :disabled="isCommandRunning('stop_network')"
          @click="sendCommand('stop_network', {uuid: network})"/>

        <!-- Scan -->
        <my-list-item
          :label="$t('actionScan')"
          :disabled="info.status != 'running' || isCommandRunning('scan_network')"
          @click="sendCommand('scan_network', {uuid: network})"/>

        <v-divider/>

        <!-- Edit -->
        <my-list-item
          :label="$t('actionEdit')"
          :disabled="info.status == 'running'"
          :to="`/mysensors/network/${network}/edit`"/>

        <!-- Unregister -->
        <my-list-item
          :label="$t('actionUnregister')"
          :disabled="info.status == 'running' || isCommandRunning('unregister_network')"
          @click="confirmDialog = true"/>
      </v-list>
    </v-menu>


    <!-- -->
    <!-- Content -->
    <!-- -->
    <template slot="content">
      <!-- Confirmation dialog -->
      <my-confirm-dialog v-bind:open.sync="confirmDialog"
        :title="$t('confirmDelete.title', {name: info.config.name})"
        :text="$t('confirmDelete.content')"
        @confirm="sendCommand('unregister_network', {uuid: network})"/>
    </template>

    <!-- -->
    <!-- Bottom bar -->
    <!-- -->
    <template>
      <my-bottom-nav-item
        icon="info"
        color="primary"
        :label="$t('information')"
        :replace="true"
        :to="`/mysensors/network/${network}/information`"/>
      <my-bottom-nav-item
        icon="router"
        color="primary"
        :label="$t('transport')"
        :replace="true"
        :to="`/mysensors/network/${network}/transport`"
        :disabled="info.status != 'running'"/>
    </template>

  </bottom-bar-activity>
</template>

<script>
  import { mapState } from 'vuex'
  import { usingChannel } from 'tools/channel'
  import { BottomBarActivity } from 'tools/activities/mixins'

  export default {
    name:'MS-NetworkDialog',

    props: ['network'],

    inject: ['mysensors'],

    mixins: [
      BottomBarActivity,
      usingChannel({
        commands: [
          {id: 'start_network', ok: 'sbStarted'},
          {id: 'stop_network', ok: 'sbStopped'},
          {id: 'scan_network', ok: 'sbScanStarted'},
          {id: 'unregister_network', ok: (c, resp) => c.closeActivity() },
        ]
      })
    ],

    computed: {
      _channel: function() { return this.mysensors.channel }, // Set channel for usingChannel mixin
      ...mapState('MySensors', { info: function (state) { return state.networks[this.network] || {config: {}} } }),
    },

    data: function() { return {
      confirmDialog: false
    }},

    watch: {
      // Reset to info panel when stopped
      info: function(n, o) { if(n.status != 'running' && !this.$route.path.endsWith("information")) this.$router.replace("./information") }
    },
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  actionStart: "Start"
  actionStop: "Stop"
  actionScan: "Scan"
  actionEdit: "Edit"
  actionUnregister: "Unregister"
  sbStarted: "Network started"
  sbStopped: "Network stopped"
  sbScanStarted: "Scan started"
  sbUnregistered: "Network unregistered"
  confirmDelete:
    title: "Unregister {name} ?"
    content: "Are you sure you want to delete this network ?"

fr:
  actionStart: "Démarrer"
  actionStop: "Arrêter"
  actionScan: "Scanner"
  actionEdit: "Editer"
  actionUnregister: "Supprimer"
  sbStarted: "Réseau démarré"
  sbStopped: "Réseau arrêté"
  sbScanStarted: "Scan démarré"
  sbUnregistered: "Réseau supprimé"
  confirmDelete:
    title: "Supprimer {name} ?"
    content: "Etes vous sur de vouloir supprimer ce réseau ?"
</i18n>
