<template>
  <span>{{ formattedStatus }}</span>
</template>

<script>
  export default {
    props: {
      network: Object
    },
    computed: {
      formattedStatus: function() {
        switch(this.network.status) {
          case 'running': return this.$t('statusRunning')
          case 'stopped': return this.$t('statusStopped')
          case 'error': return this.$t('statusError')
          default: return this.$t('statusUnknown', {status: this.network.status})
        }
      }

    }
  }
</script>

<i18n>
en:
  statusRunning: "Running"
  statusStopped: "Stopped"
  statusError: "Crashed"
  statusUnknown: "Unknown ({status})"

fr:
  statusRunning: "Démarré"
  statusStopped: "Arrêté"
  statusError: "En erreur"
  statusUnknown: "Inconnu ({status})"
</i18n>
