<template>
  <navigation-activity title="Habbot">
    <!-- Toolbar -->
    <v-btn icon @click="$emit('logout')" slot="toolbarEnd">
      <v-icon>power_settings_new</v-icon>
    </v-btn>

    <!-- Drawer -->
    <v-list dense slot="drawer">
      <navigation-item path="/home" icon="home" :text="$t('sections.home')"/>
      <navigation-item path="/places" icon="place" :text="$t('sections.places')"/>
      <navigation-item path="/schedules" icon="today" :text="$t('sections.schedules')"/>
      <navigation-item path="/alerts" icon="warning" :text="$t('sections.alerts')"/>
      <v-spacer></v-spacer>
      <v-list-group>
        <navigation-item icon="developer_board" :text="$t('sections.system')" slot="activator"/>
        <navigation-item path="/values" :text="$t('sections.values')"/>
        <navigation-item path="/mysensors" :text="$t('sections.mysensors')" noreplace/>
      </v-list-group>
      <navigation-item path="/settings" icon="settings" :text="$t('sections.settings')" style="{color: red;}" class="coucou"/>
      </v-list>
    </v-list>
  </navigation-activity>
</template>

<script>
  import { NavigationActivity } from 'tools/activities/mixins'

  export default {
    mixins: [ NavigationActivity ],
  }
</script>
