@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?us4iwl');
  src:  url('/fonts/icomoon.eot?us4iwl#iefix') format('embedded-opentype'),
    url('/fonts/habbot.ttf?us4iwl') format('truetype'),
    url('/fonts/icomoon.woff?us4iwl') format('woff'),
    url('/fonts/icomoon.svg?us4iwl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedule_interval_trigger:before {
  content: "\e90c";
}
.icon-schedule_daily_period:before {
  content: "\e900";
}
.icon-schedule_solar_cycle:before {
  content: "\e901";
}
.icon-schedule_daily_trigger:before {
  content: "\e902";
}
.icon-thermostat:before {
  content: "\e903";
}
.icon-schedules:before {
  content: "\e904";
}
.icon-timer_switch:before {
  content: "\e905";
}
.icon-switch:before {
  content: "\e906";
}
.icon-switch_off:before {
  content: "\e907";
}
.icon-switch_on:before {
  content: "\e908";
}
.icon-thermometer:before {
  content: "\e909";
}
.icon-thermometer_high:before {
  content: "\e90a";
}
.icon-thermometer_low:before {
  content: "\e90b";
}
