<template>
  <dialog-activity :title="title">
    <v-stepper slot="content" v-model="steppers.active">

      <v-stepper-header>
        <v-stepper-step step="1" :complete="steppers.generalDone" editable>{{ $t('general') }}</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="2" :complete="steppers.valuesDone" :editable="steppers.generalDone">{{ $t('values') }}</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3" :editable="steppers.valuesDone">{{ $t('summary') }}</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <!--                       -->
        <!-- General configuration -->
        <!--                       -->
        <v-stepper-content step="1" editable>
          <my-section :title="$t('general')">
            <v-form ref="form">

              <!-- Name field -->
              <v-text-field
                v-model="form.name"
                :label="$t('name')"
                :disabled="!creationMode"
                :rules="[v => !!v || $t('nameRequired')]" />

              <!-- Description field -->
              <v-textarea
                 v-model="form.description"
                :label="$t('description')"/>
            </v-form>
          </my-section>
        </v-stepper-content>


        <!--                      -->
        <!-- Values configuration -->
        <!--                      -->
        <v-stepper-content step="2">
          <my-section :title="$t('values')">
            <my-grid>
              <my-grid-carditem
                v-for="value, uuid in values"
                :key="uuid"
                :class="{selected: isSelected(uuid)}"
                @click="toggleSelected(uuid)">
                  <value :value="value" slot="title"/>
                <my-description :name="$t('source')" :value='value.source' value-class="caption"/>
              </my-grid-carditem>
            </my-grid>
          </my-section>
        </v-stepper-content>


        <!--         -->
        <!-- Summary -->
        <!--         -->
        <v-stepper-content step="3">

          <!-- General -->
          <my-section :title="$t('general')">
            <my-description :name="$t('name')" :value="form.name"/>
            <my-description :name="$t('description')" :value="form.description"/>
          </my-section>

          <!-- Values -->
          <my-section :title="$t('values')" class="vl">
            <value v-for="(t, uuid) in selectedValues" :key="uuid" :value="values[uuid]">
              <span>{{ values[uuid].value ? values[uuid].value : 'n/a' }} {{ $t('from') }}</span>&nbsp;<span class="caption">{{ values[uuid].source }}</span>
            </value>
          </my-section>
        </v-stepper-content>
      </v-stepper-items>

    </v-stepper>

    <!-- FAB for steppers navigation -->
    <my-fab slot="content"
      :icon="fabIcon"
      :loading="anyCommandRunning"
      :disabled="anyCommandRunning"
      @click="handleFABNavigation()"/>

  </dialog-activity>
</template>

<script>
  import Vue from 'vue'
  import { mapState } from 'vuex'

  import { usingChannel } from 'tools/channel'
  import { DialogActivity } from 'tools/activities/mixins'


  export default {
    props: {
      'place': String,
    },

    inject: ['habbot'],

    mixins: [
      DialogActivity,
      usingChannel({
        commands: [
          { id: "create_place" },
          { id: "update_place" },
        ]
      })
    ],

    data: function() {
      let currentPlace = this.$store.state.places[this.place]
      return {
        selectedValues: Object.assign({}, (currentPlace ? currentPlace.values : {})),

        form: {
          name: currentPlace ? currentPlace.name : null,
          description: currentPlace ? currentPlace.description : null,
        },

        steppers: {
          active: 1,
          generalDone: false,
          valuesDone: false,
        },
      }
    },

    computed: {
      ...mapState({ values: state => state.values }),
      _channel: function() { return this.habbot.channel }, // Set channel for usingChannel mixin
      creationMode: function() { return this.place ? false : true },
      title: function() { return this.creationMode ?  this.$t('title') : this.$t('title.edit', {name: this.$store.state.places[this.place].name}) },
      fabIcon: function() { return this.steppers.active == 3 ? 'done' : 'keyboard_arrow_right' },
    },


    methods: {
      // FAB navigation for the stepper
      handleFABNavigation() {
        switch(this.steppers.active) {
          // General
          case 1:
          case "1":
            if(!this.$refs.form.validate()) break

            this.steppers.generalDone = true
            this.steppers.active = 2
            break

          // Values
          case 2:
          case "2":
            this.steppers.valuesDone = true
            this.steppers.active = 3
            break

          // Summary
          case 3:
          case "3":
            if(this.creationMode)
              this.createPlace()
            else
              this.updatePlace()

            break

          // Fallback
          default:
            this.steppers.generalDone = false
            this.steppers.valuesDone = false
            this.steppers.active = 1
            this.selectedValues = {}
        }
      },

      // Create command
      createPlace() {
        this.sendCommand("create_place",
          {
            name: this.form.name,
            description: this.form.description,
            config: {
              values: this.selectedValues
            }
          },
          resp => this.closeActivity()
        )
      },

      // Update command
      updatePlace() {
        this.sendCommand("update_place",
          {
            uuid: this.place,
            description: this.form.description,
            config: {
              values: this.selectedValues
            }
          },
          resp => this.closeActivity()
        )

      },

      // Test if a value is selected
      isSelected(uuid) {
        return typeof this.selectedValues[uuid] !== 'undefined'
      },

      // Toggle a value
      toggleSelected(uuid) {
        if(this.isSelected(uuid)) {
          Vue.delete(this.selectedValues, uuid)
        } else {
          Vue.set(this.selectedValues, uuid, true)
        }
      },

    }
  }
</script>

<i18n>
en:
  title: "New place"
  title.edit: "Edit {name}"
  general: "General"
  values: "Values"
  summary: "Summary"
  from: "from"
  nameRequired: "Name required"

fr:
  title: "Nouveau lieu"
  title.edit: "Editer {name}"
  general: "Général"
  values: "Valeurs"
  summary: "Résumé"
  from: "depuis"
  nameRequired: "Nom requis"
</i18n>
