<template>
  <navigation-activity :title="$t('title')">
    <v-list dense slot="drawer">
      <navigation-item path="/mysensors/networks" icon="device_hub" :text="$tc('network', 2)"/>
      <navigation-item path="/mysensors/nodes" icon="group_work" :text="$tc('node', 2)"/>
      <navigation-item path="/mysensors/sensors" icon="track_changes" :text="$tc('sensor', 2)"/>
      <navigation-item path="/mysensors/events" icon="bug_report" :text="$tc('event', 2)"/>
      <v-spacer></v-spacer>
      <navigation-item @click="$router.back()" icon="arrow_back" :text="$t('back')"/>
    </v-list>
  </navigation-activity>
</template>

<script>
  import { NavigationActivity } from 'tools/activities/mixins'

  export default {
    name: 'MS-Activity',
    mixins: [ NavigationActivity ]
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  back: 'Back'

fr:
  back: 'Retour'
</i18n>
