<template>
  <my-section class="vl grow">
    <!-- Title and filters -->
    <v-layout slot="title">
      <span>{{ $tc('event', 2) }}</span>
      <v-spacer/>
      <v-select v-model="keep" :items="[10, 25, 50, 100, 250, 500]" :label="$t('keep')" :style="{flexGrow: 0, width: 'min-content'}"/>
    </v-layout>

    <!-- Event list -->
    <div class="grow">
      <span class="hl wrap body-1" v-for="{type, time, message} in events" :key="`${type}-${time}`">
        <span>{{ type }}</span>
        <span class="ml-2 grow">{{ time | fromNow }}</span>
        <span class="accent--text">{{ message }}</span>
      </span>
    </div>

    <!-- FAB for create new network -->
    <my-fab icon="delete" @click="clear"/>
  </my-section>
</template>

<script>
  import { withChannel } from 'tools/channel'

  export default {
    name: 'MS-Events',

    data() { return {
      events: [],
      keep: 25
    }},

    mixins: [withChannel({
      name: 'mysensors:events',
      handlers: [
        {event: "networks_events", fun: (c, msg) => c.onNetworkEvent(msg) },
        {event: "nodes_events", fun: (c, msg) => c.onNodeEvent(msg) },
        {event: "sensors_events", fun: (c, msg) => c.onSensorEvent(msg) },
      ]
    })],

    watch: {
      // Update events array when 'keep' changes
      keep: function() {
        this.events = this.events.slice(0, this.keep)
      }
    },

    methods: {
      // Clear the events array
      clear() {
        this.events = []
      },

      // Handle network events
      onNetworkEvent(event) {
        if(event.type == 'network_status_changed')
          this.addEvent(
            this.$t('networkStatus'),
            new Date(),
            this.$t('networkStatusMsg', {network: event.network, status: event.status})
          )
        else
          this.addEvent(this.$t('networkUnknown'), new Date(), JSON.stringify(event))
      },

      // Handle node events
      onNodeEvent(event) {
        // TODO serialize node events for UI
      },

      // Handle sensor events
      onSensorEvent(event) {
        this.addEvent(
          this.$t('sensorUpdated'),
          event.new.time,
          this.$t('sensorUpdatedMsg', {sensor: event.sensor, type: event.type, value: event.new.value})
        )
      },

      // Helper to manage the events array
      addEvent(type, time, message) {
        this.events.unshift({time, type, message})

        if(this.events.length > this.keep)
          this.events.pop()
      }
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  networkUnknown: "Unknown network status"
  networkStatus: "Network status changed"
  networkStatusMsg: "Network {network} status has changed: {status}"
  sensorUpdated: "Sensor updated"
  sensorUpdatedMsg: "Sensor {sensor} has updated it's {type} value : {value}"

fr:
  networkUnknown: "Status inconnu"
  networkStatus: "Status du réseau changé"
  networkStatusMsg: "Le réseau {network} a changé de status: {status}"
  sensorUpdated: "Capteur mis à jour"
  sensorUpdatedMsg: "Le capteur {sensor} a mis à jour sa valeur {type} : {value}"
</i18n>
