<template>

  <v-form ref="form" class="layout row no-grow">
    <transition-group name="list" tag="div" class="layout row">

      <!-- Name field -->
      <v-text-field
        key="name"
        v-if="!(hideNode || hideSensor)"
        v-model="form.node"
        class="flex xs1"
        type="number"
        :disabled="disabled"
        :label="$tc('node', 1)"/>

      <!-- Sensor field -->
      <v-text-field
        key="sensor"
        v-if="!hideSensor"
        v-model="form.sensor"
        class="flex xs1"
        type="number"
        :disabled="disabled"
        :label="$tc('sensor', 1)"/>

      <!-- Command field -->
      <v-select
        key="command"
        v-model="form.command"
        item-value="id"
        item-text="name"
        :items="commands"
        :disabled="disabled"
        :label="$tc('command', 1)"/>

      <!-- Type field -->
      <v-combobox
        key="type"
        v-model="form.type"
        item-value="id"
        item-text="name"
        :items="sortedTypes"
        :rules="[v => !!v || $t('required')]"
        :disabled="disabled"
        :label="$t('type')"/>

      <!-- Payload field -->
      <v-text-field
        clearable
        key="payload"
        v-model="form.payload"
        v-show="form.command == 1"
        :disabled="disabled"
        :label="$t('payload')"/>
    </transition-group>

    <!-- Send button -->
    <my-icon-button icon="send" color="accent" :disabled="disabled" :loading="loading" @click="sendMessage"/>
  </v-form>
</template>

<style scoped>
.list-enter-active, .list-leave-active {
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(100vw);
}
</style>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'MS-MessageForm',

    props: {
      hideNode: Boolean,
      hideSensor: Boolean,
      disabled: Boolean,
      loading: Boolean,
    },

    data() { return {
      form: {
        node: 0,
        sensor: 0,
        command: 2,
        type: null,
        payload: null
      }
    }},

    computed: {
      ...mapState('MySensors', ['commands', 'types']),

      // Sort types by name
      sortedTypes() {
        return Object.entries(this.types)
          .map(([key, value]) => { return {id: value.id, name: key} })
          .sort((a, b) => a.name.localeCompare(b.name))
      },
    },

    methods: {

      sendMessage() {
        if(!this.$refs.form.validate()) return

        this.$emit('send-message', {
          node: this.form.node,
          sensor: this.form.sensor,
          command: this.form.command,
          type: this.form.type.id,
          payload: (this.form.command == 1 ? this.form.payload : null)
        })
      }

    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  required: "Type required"

fr:
  required: "Type requis"
</i18n>
