<template functional>
  <span class="body-2">
    <v-icon :class="props.direction == 'outgoing' ? 'primary--text' : 'accent--text'">
      {{ props.direction == "outgoing" ? "arrow_right" : "arrow_left"  }}
    </v-icon>
    Node {{ props.message.node_id }}
    Sensor {{ props.message.child_sensor_id }}
    Ack {{ props.message.ack ? 'true' : 'false' }}
    Command {{ props.message.command }}
    Type {{ props.message.type }}
    Payload {{ props.message.payload }}
  </span>
</template>

<script>
  export default {
    props: {
      direction: String,
      message: Object
    },
  }
</script>
