<template>
  <my-section classes="vl" :title="$t('information')">
    <my-description :name="$t('id')" :value="info.node_id"/>
    <my-description :name="$t('type')" :value="type"/>
    <my-description :name="$t('sketch')" :value="sketch"/>
    <my-description :name="$t('status')" :value="info.status"/>
    <my-description :name="$t('lastSeen')"><node-lastseen :last-seen="info.last_seen"/></my-description>
    <my-description :name="$t('battery')" :value="battery" v-if="info.battery"/>

    <my-description :name="$t('uuid')" :value="info.uuid"/>
    <my-description :name="$tc('network', 2)" v-if="info.network">
      <router-link :to="{ path: '/mysensors/network/' + info.network }">{{ network.config.name }}</router-link>
    </my-description>
  </my-section>
</template>

<script>
  import { mapState } from 'vuex'
  import moment from 'moment'

  import NodeLastseen from './node_lastseen'

  export default {
    name: 'MS-NodeInformationPanel',
    props: ['node'],
    components: { NodeLastseen },
    computed: {
      ...mapState('MySensors', {
        info: function (state) { return state.nodes[this.node] || {} },
        network: function (state) { return state.networks[this.info.network] || {config: {}} }
      }),
      type() { return `${this.info.type} (${this.info.version})` },
      sketch() { return `${this.info.sketch_name} (${this.info.sketch_version})` },
      battery() { return this.info.battery ? `${this.info.battery} %` : null },
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  sketch: "Sketch"

fr:
  sketch: "Schéma"
</i18n>
