<template functional>
  <card :title="props.title" :class="[data.staticClass, data.class]">
    <slot></slot>
  </card>
</template>

<script>
  export default {
    props: {
      title: String,
    },
  }
</script>
