<template functional>
  <v-btn flat v-bind="data.attrs" v-on="listeners">
    <span>{{ props.label }}</span>
    <v-icon>{{ props.icon }}</v-icon>
  </v-btn>
</template>

<script>
  export default {
    props: {
      label: String,
      icon: String
    }
  }
</script>

