<template functional>
  <v-btn
    icon
    v-bind="data.attrs"
    v-on="listeners"
    :class="[data.staticClass, ...data.class]"
    :disabled="data.attrs.disabled || parent.isCommandRunning(props.command)"
    :loading="data.attrs.loading || parent.isCommandRunning(props.command)"
    @click="parent.sendCommand(props.command, props.parameters)">
    <v-icon >{{ props.icon }}</v-icon>
  </v-btn>
</template>

<script>
  export default {
    props: {
      command: String,
      icon: String,
      parameters: {
        default: null
      },
    }
  }
</script>
