<template functional>
  <v-flex>
    <v-card v-on="listeners" :class="data.class">
      <v-card-title><slot name="title">{{ props.title }}</slot></v-card-title>
      <v-card-text v-if="slots().default"><slot></slot></v-card-text>
      <v-card-actions v-if="slots().actions">
        <v-spacer/>
        <slot name="actions"></slot>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    props: {
      title: String,
    }
  }
</script>
