<template functional>
  <v-container fluid grid-list-xl>
    <v-layout wrap>
      <slot></slot>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: {
    }
  }
</script>
