<template>
  <v-dialog v-model="dialogOpen" width="unset">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>{{ title }}</v-card-title>
      <slot><v-card-text>{{ text }}</v-card-text></slot>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="confirm">{{ $t('actionOK') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      title: String,
      text: String,
      open: Boolean
    },

    computed: {
      dialogOpen: {
        get: function() { return this.$props.open },
        set: function(value) { this.$emit('update:open', value) }
      }
    },

    methods: {
      confirm: function() {
        this.dialogOpen = false
      },
    }
  }
</script>

