<template>
  <bottom-bar-activity :title="`${$tc('sensor', 1)} ${sensor}`">

    <!-- Bottom bar -->
    <template>
      <my-bottom-nav-item
        icon="info"
        color="primary"
        :label="$t('information')"
        :replace="true"
        :to="`/mysensors/sensor/${sensor}/information`"/>
      <my-bottom-nav-item
        icon="send"
        color="primary"
        :label="$tc('command', 2)"
        :replace="true"
        :to="`/mysensors/sensor/${sensor}/commands`" />
    </template>

  </bottom-bar-activity>
</template>

<script>
  import { mapState } from 'vuex'
  import { BottomBarActivity } from 'tools/activities/mixins'

  export default {
    name: 'MS-SensorDialog',
    props: ['sensor'],
    mixins: [ BottomBarActivity ],
    computed: mapState('MySensors', { info: function (state) { return state.sensors[this.sensor] || {} } })
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
