<template>
  <div class="vl grow">

    <!-- Informations -->
    <my-section classes="vl" :title="$t('information')">
      <my-description :name="$t('id')" :value="info.sensor_id"/>
      <my-description :name="$t('description')" :value="info.desc"/>
      <my-description :name="$t('type')" :value="info.type"/>
      <my-description :name="$t('uuid')" :value="info.uuid"/>
      <my-description :name="$tc('node', 2)">
        <router-link :to="{ path: '/mysensors/node/' + info.node }">{{ info.node }}</router-link>
      </my-description>
    </my-section>

    <!-- Data -->
    <my-section classes="vl" :title="$t('data')">
      <span v-for="(data, dataType) in info.data">
        <my-description :name="dataType">
          <span>{{data.value}}</span>
          <i class="body-1">({{ $t('updated') }} {{ data.time | fromNow }})</i>
        </my-description>
      </span>
    </my-section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'MS-SensorInformationPanel',
    props: ['sensor'],
    computed: mapState('MySensors', { info: function (state) { return state.sensors[this.sensor] || {} } })
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
