<template>
  <my-section :title="$tc('sensor', 2)" class="vl grow">

    <!-- -->
    <!-- Filters -->
    <!-- -->
    <my-filters ref="filters" :totalCount="totalCount" :filteredCount="filteredSensorsCount">
      <v-text-field v-model="search" :label="$t('search')" clearable/>
      <v-select v-model="networkFilter" :items="networkFilters" :label="$tc('network', 1)" :style="{flexGrow: 0}"/>
      <v-select v-model="nodeFilter" :items="nodeFilters" :label="$tc('node', 1)" :style="{flexGrow: 0}"/>
    </my-filters>


    <!-- -->
    <!-- Card grid for nodes -->
    <!-- -->
    <my-grid>
      <my-grid-carditem v-for="sensor in filteredSensors" :key="sensor.uuid">
        <!-- Title -->
        <div slot="title" class="vl baseline">
          <div class="title accent--text">{{ sensor.desc == null || sensor.desc == "" ? sensor.type : sensor.desc }} #{{ sensor.sensor_id }}</div>
          <div class="subhead">{{ sensor.desc == null || sensor.desc == "" ? null : sensor.type }}</div>
        </div>
        <!-- Content -->
        <div class="vl">
          <my-description v-for="obj, type in sensor.data" :key="type" :name="type" :value="obj.value"/>
        </div>
        <!-- Actions -->
        <my-icon-button slot="actions" flat icon="info" color="primary" :to="{ path: `/mysensors/sensor/${sensor.uuid}` }"/>
      </my-grid-carditem>
    </my-grid>


    <!-- -->
    <!-- FAB for filtering -->
    <!-- -->
    <my-fab icon="search" @click="$refs.filters.showDialog()" v-if="$vuetify.breakpoint.xsOnly"/>

  </my-section>
</template>


<script>
  import { mapState } from 'vuex'


  export default {
    name: 'MS-Sensors',

    props: ['node'],

    data() { return {
      search: "",
      networkFilter: -1,
      nodeFilter: this.node == null ? -1 : this.node,
    }},

    watch: {
      // Watch network filter to reset nodeFilter if needed
      networkFilter: function(v, ov) {
        let currentNode = this.nodes[this.nodeFilter] || {}
        if(v != -1 && currentNode.network != v)
          this.nodeFilter = -1
      }
    },

    computed: {
      ...mapState('MySensors', ['networks', 'nodes', 'sensors']),

      networkFilters() {
        return [
          {value: -1, text: 'All'},
          ...Object.entries(this.networks)
            .map(([uuid, network]) => { return {value: uuid, text: network.config.name} })
            .sort((a, b) => a.text.localeCompare(b.text))
        ]
      },

      nodeFilters() {
        return [
          {value: -1, text: 'All'},
          ...this.filteredNetworks.sort((a, b) => a.uuid.localeCompare(b.uuid))
            .flatMap(network => {
              return this.nodesByNetwork(network.uuid)
                .sort((n, m) => n.uuid.localeCompare(m.uuid))
                .map(info => { return {value: info.uuid, text: `${network.config.name} ${info.node_id}`} })
            })
        ]
      },



      // Filters the networks
      filteredNetworks() {
        return Object.entries(this.networks)
          .map(([uuid, network]) => {
            network['uuid'] = uuid
            return network
          })
          .filter(network => (this.networkFilter == -1 || network.uuid == this.networkFilter))
      },

      // Filters the sensors
      filteredSensors() {
        let r = new RegExp(this.search || "", "i")

        return Object.entries(this.sensors)
          .map(([uuid, sensor]) => sensor)
          .filter(sensor => {
            return (
              (this.networkFilter == -1 || this.nodes[sensor.node].network == this.networkFilter) // network filter
              &&
              (this.nodeFilter == -1 || sensor.node == this.nodeFilter) // node filter
              &&
              ((sensor.desc == null || sensor.desc.match(r)) || (sensor.type == null || sensor.type.match(r))) // text filter
            )
          })
      },

      // Total sensors count
      totalCount() {
        return Object.keys(this.sensors).length
      },

      // Get the number of filtered sensors
      filteredSensorsCount() {
        return this.filteredSensors.length
      }
    },

    methods: {

      // Get a list of nodes for the given network
      nodesByNetwork(network) {
        return Object.entries(this.nodes)
          .map(([uuid, node]) => node)
          .filter(node => node.network == network)
      }
    }
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
