<template>
  <my-section :title="$t('title')">
    <v-form ref="form">

      <!-- The device field -->
      <v-layout row align-center>
        <v-select
          v-model="form.device"
          :disabled="isCommandRunning('available_serial_devices')"
          :items="availableDevices"
          :label="$t('device')"
          :rules="[v => !!v || $t('deviceRequired')]" />

        <my-icon-button
          icon="refresh"
          color="accent"
          :loading="isCommandRunning('available_serial_devices')"
          :disabled="isCommandRunning('available_serial_devices')"
          @click="sendCommand('available_serial_devices')"/>
      </v-layout>

      <!-- The speed field -->
      <v-select
        v-model="form.speed"
        :items="availableSpeeds"
        :label="$t('speed')"
        :rules="[v => !!v || $t('speedRequired')]" />

    </v-form>
  </my-section>
</template>

<script>
  import Form from 'tools/form'
  import { usingSnackbar } from 'tools/snackbar'
  import { usingChannel } from 'tools/channel'

  export default {
    inject: ['mysensors'],

    props: {
      device: String,
      speed: String
    },

    mixins: [
      Form,
      usingSnackbar,
      usingChannel({
        commands: [
          {id: 'available_serial_devices', ok: (c, resp) => c.onDevicesUpdated(resp) }
        ]
      })
    ],

    data: function() { return {
      availableDevices: [],
      availableSpeeds: [1200, 2400, 4800, 9600, 19200, 38400, 57600, 115200],
      form: {
        device: this.device || null,
        speed: this.speed || null
      }
    }},

    computed: {
      _channel: function() { return this.mysensors.channel }, // Set channel for usingChannel mixin
    },

    mounted() {
      this.sendCommand('available_serial_devices')
    },

    methods: {
      onDevicesUpdated(devices) {
        this.availableDevices = Object.entries(devices).map(([id, info]) => { return {text: `${id}: ${info.description}`, value: id} })
        this.showSnackbar(this.$t('sbDevicesUpdated'))
      },
    }
  }
</script>

<i18n>
en:
  title: "Serial port configuration"
  device: "Device"
  speed: "Speed"
  deviceRequired: "Device required"
  speedRequired: "Speed required"
  sbDevicesUpdated: "Devices updated"

fr:
  title: "Configuration du port série"
  device: "Périphérique"
  speed: "Vitesse"
  deviceRequired: "Périphérique requis"
  speedRequired: "Vitesse requise"
  sbDevicesUpdated: "Périphériques mis à jour"
</i18n>
