<template>
  <v-list-tile class="mb-2 mt-2">
    <!-- Icon -->
    <v-list-tile-avatar>
      <v-icon large>{{ icon }}</v-icon>
    </v-list-tile-avatar>

    <v-list-tile-content>
      <!-- Title -->
      <v-list-tile-title>
        <span class="text-uppercase">{{ info.message.command }}</span>
        <span>{{ info.message.type }}</span>
      </v-list-tile-title>

      <!-- Retries -->
      <v-list-tile-sub-title>
        {{ $t('retries', {count: info.retry}) }} {{ info.last_retry | fromNow }}
      </v-list-tile-sub-title>

      <!-- Raw -->
      <v-list-tile-sub-title>
        <message direction="outgoing" :message="info.message"/>
      </v-list-tile-sub-title>
    </v-list-tile-content>

    <!-- Actions -->
    <v-list-tile-action class="vl">
      <my-command-button flat icon="refresh" color="accent" command="resend" :disabled="disabled || anyCommandRunning" :parameters="info.id"/>
      <my-command-button flat icon="delete" color="accent" command="remove" :disabled="disabled || anyCommandRunning" :parameters="info.id"/>
    </v-list-tile-action>
  </v-list-tile>

</template>

<script>
  import { usingSnackbar } from 'tools/snackbar'
  import { usingChannel } from 'tools/channel'

  import Message from 'mysensors/message'

  export default {
    name: 'MS-Command',

    components: { Message },

    props: {
      channel: Object,
      info: Object,
      disabled: Boolean,
    },

    mixins: [
      usingSnackbar,
      usingChannel({
        channel: c => c.channel,
        commands: [
          {id: "resend", ok: 'sbCommandResent'},
          {id: "remove", ok: 'sbCommandRemoved'},
        ]
      }),
    ],

    computed: {
      icon() {
        switch(this.info.status) {
          case 'queued': return 'pause'
          case 'sending': return 'send'
          case 'sent': return 'done'
        }
      }
    },
  }
</script>

<i18n src="mysensors/translations.yaml"></i18n>
<i18n>
en:
  retries: "{count} retries"
  sbCommandResent: "Command resent"
  sbCommandRemoved: "Command removed"

fr:
  retries: "{count} tentatives"
  sbCommandResent: "Commande réenvoyée"
  sbCommandRemoved: "Commande supprimée"
</i18n>
